@import "colors";
@import "keyframes";

a{font-size: 1vw;}
a:active{color: $yellow;}
a{font-size: 1em;}
a:hover:nth-child(even) {color: $yellow;}
a:hover:nth-child(odd) {color: $white;}
a:active{color: $yellow;}
  .design-selection ul {
    padding-left: 20px;
    font-size: .25em;
    line-height: 1.25em;
    li {
      padding-top: 1em;
      width: 150%;
    }
  }
  .design-selection nav ul li {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
  }
  .design-selection:hover nav ul li {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .select {
     -webkit-animation: flash linear 2s infinite;
     animation: flash linear 3s infinite;
  }
  footer a:hover {
    -webkit-animation: g-glow 5s ease infinite;
            animation: g-glow 5s ease infinite;
  }
 
  .zen-resources ul {
    line-height: .5em;
    li {
      padding-top: .5em;
      font-size: .5em;
    }
  }
  .design-archives ul {
    line-height: .5em;
    li {
      padding-top: .5em;
      font-size: .5em;
    }
  }

@media only screen  and (min-width : 1224px) {
  a {font-size: 1em;}
  .design-selection ul {
    font-size: 1em;
    line-height: 1.5em;
  }
  .zen-resources ul li {font-size: 1em;}
  .design-archives ul li {font-size: 1em;}
  
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
  a {font-size: 1em;}
  .design-selection ul {
    font-size: .75em;
    line-height: 1.5em;
  }
  
}


    
