@font-face {font-family:"STARWARS";
    src: url("https://cdn.glitch.com/26ad7e79-28a7-495c-bcd3-05f5337ba78c%2FSTARWARS.ttf?v=1614045705402");
    font-weight:normal;
    font-style:normal;}

$primary-font: 'STARWARS', serif;
$secondary-font: 'STARWARS', sans-serif;
