@-webkit-keyframes g-glow {
  0% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
  25% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  50% {
    text-shadow: 4px 4px 5px #95f195, 5px 5px 7px #95f195;
  }
  75% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  100% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
}

@keyframes g-glow {
  0% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
  25% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  50% {
    text-shadow: 4px 4px 5px #95f195, 5px 5px 7px #95f195;
  }
  75% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  100% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
}

@-webkit-keyframes dash-right {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  8% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  16% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  24% {
    -webkit-transform: translateX(36%);
    transform: translateX(36%);
  }
  32% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  40% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  48% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  56% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  64% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  72% {
    -webkit-transform: translateX(-36%);
    transform: translateX(-36%);
  }
  80% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  88% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  96% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes dash-right {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  8% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  16% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  24% {
    -webkit-transform: translateX(36%);
    transform: translateX(36%);
  }
  32% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  40% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  48% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  56% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  64% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  72% {
    -webkit-transform: translateX(-36%);
    transform: translateX(-36%);
  }
  80% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  88% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  96% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes twink {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes twink {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

a {
  font-size: .5em;
}

a:hover {
  color: #eb212e;
  color: #5151ee;
}

a:active {
  color: #ffe81f;
}

.design-selection ul {
  padding-left: 20px;
  font-size: .5em;
}

.design-selection nav ul li {
  -webkit-transform: translateX(160%);
  transform: translateX(160%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.design-selection:hover nav ul li {
  -webkit-transform: translate(0%);
  transform: translate(0%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.select {
  color: #4ED1BC;
  -webkit-animation: flash linear 2s infinite;
  animation: flash linear 3s infinite;
}

footer a:hover {
  color: #0cbb06;
  -webkit-animation: g-glow 5s ease infinite;
  animation: g-glow 5s ease infinite;
}

@-webkit-keyframes g-glow {
  0% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
  25% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  50% {
    text-shadow: 4px 4px 5px #95f195, 5px 5px 7px #95f195;
  }
  75% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  100% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
}

@keyframes g-glow {
  0% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
  25% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  50% {
    text-shadow: 4px 4px 5px #95f195, 5px 5px 7px #95f195;
  }
  75% {
    text-shadow: 2px 2px 3px #95f195, 3px 3px 5px #95f195;
  }
  100% {
    text-shadow: 0px 0px 1px #95f195, 1px 1px 3px #95f195;
  }
}

@-webkit-keyframes dash-right {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  8% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  16% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  24% {
    -webkit-transform: translateX(36%);
    transform: translateX(36%);
  }
  32% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  40% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  48% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  56% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  64% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  72% {
    -webkit-transform: translateX(-36%);
    transform: translateX(-36%);
  }
  80% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  88% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  96% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes dash-right {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  8% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  16% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  24% {
    -webkit-transform: translateX(36%);
    transform: translateX(36%);
  }
  32% {
    -webkit-transform: translateX(24%);
    transform: translateX(24%);
  }
  40% {
    -webkit-transform: translateX(12%);
    transform: translateX(12%);
  }
  48% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  56% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  64% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  72% {
    -webkit-transform: translateX(-36%);
    transform: translateX(-36%);
  }
  80% {
    -webkit-transform: translateX(-24%);
    transform: translateX(-24%);
  }
  88% {
    -webkit-transform: translateX(-12%);
    transform: translateX(-12%);
  }
  96% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes twink {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes twink {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "STARWARS";
  src: url("https://cdn.glitch.com/26ad7e79-28a7-495c-bcd3-05f5337ba78c%2FSTARWARS.ttf?v=1614045705402");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "STARWARS", sans-serif;
  margin: 2em;
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
}

h1, h2 {
  font-family: "STARWARS", serif;
  color: #ffe81f;
  font-size: 3vw;
  text-align: left;
  text-decoration: underline;
}

h3 {
  font-family: "STARWARS", serif;
  color: #ffffff;
  font-size: 2vw;
  text-align: left;
  text-decoration: underline;
}

p {
  line-height: 1.5em;
  font-family: "STARWARS", sans-serif;
  color: #ffffff;
  font-size: 1vw;
  text-align: left;
}

.wrapper {
  background-image: url(https://freesvg.org/img/death-star-bold.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 20vw;
  margin-right: 5vw;
}

.page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: repeat(4, 25%);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.page-wrapper .intro {
  grid-column: 1 / end;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 1;
}

.page-wrapper .intro h1, .page-wrapper .intro h2 {
  text-align: center;
}

.page-wrapper .summary {
  grid-column: 1 / end;
  z-index: 1;
}

.page-wrapper .summary p {
  text-align: center;
}

.page-wrapper .preamble {
  grid-column: 1 / end;
  z-index: 1;
}

.page-wrapper .preamble h3, .page-wrapper .preamble p {
  text-align: center;
}

.page-wrapper .preamble h3 {
  -webkit-animation: dash-right 12s linear infinite;
  animation: dash-right 12s linear infinite;
}

.page-wrapper .main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  padding: 1em;
  width: 85%;
  z-index: 1;
}

.page-wrapper .sidebar {
  grid-column: 4 / end;
  z-index: 1;
  background-image: url("vader.jpg");
  background-repeat: no-repeat;
  background-size: 20vw;
  background-position: bottom center;
}

footer {
  color: #0000ff;
  height: 5em;
  border: 1px solid;
  border-color: #0000ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em;
  background-image: url(blade.png);
  background-position: center top -40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.extra1, .extra2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.extra1 {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.extra2 {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 0;
  -webkit-animation: twink 200s linear infinite;
  animation: twink 200s linear infinite;
}
/*# sourceMappingURL=style.css.map */