@font-face {
  font-family: "STARWARS";
  src: url("https://cdn.glitch.com/26ad7e79-28a7-495c-bcd3-05f5337ba78c%2FSTARWARS.ttf?v=1614045705402");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "STARWARS", sans-serif;
  margin: 2em;
  background-color: #000000;
}

h1, h2 {
  font-family: "STARWARS", serif;
  text-align: center;
  color: #ffe81f;
  font-size: 3vw;
  text-align: left;
  text-decoration: underline;
}

h3 {
  font-family: "STARWARS", serif;
  text-align: center;
  color: #ffffff;
  font-size: 2vw;
  text-align: left;
  text-decoration: underline;
}

p {
  font-family: "STARWARS", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 1vw;
  text-align: left;
}

li {
  padding-top: 5px;
  padding-right: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover:nth-of-type(even) {
  color: white;
}

a:hover:nth-of-type(odd) {
  color: yellow;
}

.page-wrapper {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1/1/2/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

header {
  width: 100%;
  background-color: #000000;
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.summary {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
}

.preamble {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}

.zen-resources {
  position: absolute;
  right: 25%;
  top: 31em;
  font-size: 1vw;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/3/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.explanation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.explanation::after {
  background-image: url("vader.jpg");
}

.participation {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
}

.benefits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
}

.benefits::after {
  content: url(https://freesvg.org/img/ufo_web_factory_startoy.png);
}

.requirements {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/5/3;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 5/1/6/5;
  color: #0000ff;
  height: 5em;
  border: 1px solid;
  border-color: #0000ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

/*.sidebar::before{
  
  position: sticky;
  bottom:0%;
  content: url(https://freesvg.org/img/death-star-bold.png);

  
}*/
.wrapper {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 4/1/5/5;
}

.design-selection {
  position: absolute;
  width: 100%;
}

.design-selection nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (11.11%)[9];
      grid-template-columns: repeat(9, 11.11%);
  -ms-grid-rows: (20%)[5];
      grid-template-rows: repeat(5, 20%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*.select{
  grid-area: 1/4/2/7;
}*/
.design-selection li:nth-child(1) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5/1/6/2;
}

.design-selection li:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2/4/3/5;
}

.design-selection li:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3/3/4/4;
  width: 300%;
}

.design-selection li:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2/4/3/5;
  width: 300%;
  padding-bottom: 25px;
}

.design-selection li:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 2/6/3/7;
  width: 300%;
}

.design-selection li:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 3/7/4/8;
  width: 300%;
}

.design-selection li:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-area: 4/8/5/9;
  width: 400%;
}

.design-selection li:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-area: 5/9/6/10;
  width: 300%;
}

.design-archives {
  position: absolute;
  width: 100%;
  top: 210em;
  text-align: center;
}

@media (min-width: 40em) {
  .intro {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 1/1/2/5;
  }
  .summary {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2/1/3/5;
    width: 80%;
  }
  .preamble {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3/1/4/4;
  }
  .main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 2/1/3/5;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .explanation {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/2/4;
  }
  .participation {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/3/4;
  }
  .benefits {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3/1/4/4;
  }
  .requirements {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 4/1/5/4;
  }
  .design-archives {
    top: 198em;
    left: -20em;
  }
  .zen-resources {
    top: 165em;
  }
  .wrapper::after {
    position: absolute;
    top: 31%;
    right: 0%;
    z-index: -5;
    content: url(https://freesvg.org/img/death-star-bold.png);
  }
  .design-selection {
    position: absolute;
    width: 25%;
    top: 22em;
    right: 3em;
  }
  .design-selection ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    max-height: 10vw;
    width: auto;
  }
  .design-selection li:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: 1/4/2/6;
  }
  .design-selection li:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/3/4;
  }
  .design-selection li:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3/2/4/3;
  }
  .design-selection li:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
  .design-selection li:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5/1/6/2;
  }
  .design-selection li:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 6/2/7/3;
  }
  .design-selection li:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 7/3/8/4;
  }
  .design-selection li:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 8/4/9/5;
  }
}

@media only screen and (min-device-width: 480px) {
  p {
    line-height: 10px;
  }
  li {
    line-height: 1em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  p {
    line-height: 12px;
  }
}

@media only screen and (min-width: 1224px) {
  p {
    line-height: 25px;
  }
  footer {
    font-size: 30px;
  }
  .design-selection li {
    width: 200%;
    padding-bottom: 10px;
  }
  .design-selection li:nth-child(3) {
    width: 300%;
  }
  .design-selection li:nth-child(4) {
    width: 300%;
    padding-bottom: 25px;
  }
  .design-selection li:nth-child(5) {
    width: 300%;
  }
  .design-selection li:nth-child(6) {
    width: 300%;
  }
  .design-selection li:nth-child(7) {
    width: 400%;
  }
  .design-selection li:nth-child(8) {
    width: 300%;
  }
}
/*# sourceMappingURL=style.css.map */